<h1>Request a Ride</h1>

<%#  BASIC LEVEL HARD CODE HTML
<form action="/rides" method="POST"> 
%>

<%= form_tag("/rides") do %>
  <%= label_tag "departure"%>
  <%= text_field_tag "departure" %>
  <%= label_tag "destination"%>
  <%= text_field_tag "destination"%>

  <%# ONLY USE HIDDEN_FIELD_TAG IF INFO IS NOT AVAILABLE IN CURRENT SESSION %>
  <%# <% hidden_field_tag "hitchhiker", @current_user.id %>

  <%= submit_tag value="Make ride request"%>
<% end %>


<%# HIGHEST LEVEL OF ABSTRACTION USING ActionView MAGIC IN RAILS
<%= form_for(@rides) %> 
