<h1>Request a Ride</h1>

<%#  BASIC LEVEL HARD CODE HTML
<form action="/rides" method="POST"> 
%>

<%= form_tag("/rides") do %>
  <%# CREATE A LIST OF TRIPS TO VIEW AND USE DATA AND CREATE A NEW RIDE %>

  
  <%= label_tag "pickup"%>
  <%= text_field_tag "pickup" %>
  <%= label_tag "dropoff"%>
  <%= text_field_tag "dropoff"%>

  <%= submit_tag value="Make ride request"%>
<% end %>


<%# HIGHEST LEVEL OF ABSTRACTION USING ActionView MAGIC IN RAILS
<%= form_for(@rides) %> 
